body{
    position:fixed;
    height:100%;
    width: 100%;
    
}

h1{
    text-align: center;
    background-color: green;
    color:white;
    
    
}

ul{
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
 


}
div{
    display: flex;
    justify-content: center;
    margin-top: 300px;

}

button{
    background-color: white;
    border-color:green;
    color:green;

}